body {
  font-family: 'Roboto', sans-serif;
  font-size: 20px;
  /*background: url('http://more-sky.com/data/out/8/IMG_250435.jpg');*/
  background-color: #999;
}


h1 {
  font-family: 'Lora', serif;
  background-color: #888;
  border: 5px solid black;
  margin: 5%;
  text-align: center;
  font-size: 5vw;
  border-radius: 20%;

}

h2 {
  font-family: 'Archivo Narrow', sans-serif;
  color: #222;
  text-align: center;
  font-size: 50px;
  }

  header {
    text-align: center;
  }

div {
  text-align: center;
}

p{
  margin-top: 100px;
  margin-bottom: 100px;
  margin-right: 150px;
  margin-left: 80px;
  padding: 20px 20px;
  /*background: url('http://www.shopalexanderarms.com/img-wtp709_kryptek_nomad.jpg') no-repeat;*/
  background-color: white;
  background-size: 200%;
  border-radius: 10%;
}

button {
  margin: auto;
  text-align: center;
  font-size: 2vw;
}

img, iframe {
  border: 3px solid black;
  border-radius: 10%;
}

img {
  width: 20%;
}

footer {
  font-family: inherit;
}
/*font-family: 'Indie Flower', cursive;
font-family: 'Archivo Narrow', sans-serif;
font-family: 'Lora', serif;*/
